.searchToken{
   
    padding: 2rem;
    height: 25rem;
    

}

.searchToken_box{
    position: fixed;
    background-color: #1e1e1e;
    border-radius: .5rem;
    width: 30vw;
    top: 300px;
    padding : 1rem;
    border-radius: 12px;
    z-index: 1111;
    border: 1px solid;
   
}

.searchToken_box_heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchToken_box_search{
    display: flex;
    align-items: center;
    background-color: #d1d8e3;
    padding: .5rem 1rem;
    border-radius: .5rem;
    gap: 1rem;
}

.searchToken_box_search input{
    background-color: transparent;
    outline:0;
    border: 0;
    color: #1e1e1e;
    font-weight: 500;
    width: 90%;
}

.searchToken_box_token{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: .5rem;
}

.searchToken_box_token span{
    display:flex;
    align-items: center;
    gap: .2rem;
    border: 2px solid #d1d8e3;
    width: 5.7rem;
    padding: .3rem;
    border-radius: 1rem;
    cursor: pointer;
}

.active{
    background-color: #d1d8e3;
    color: #1e1e1e;
}