.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: linear-gradient(156.8deg, rgb(30, 144, 231) 27.1%, rgb(67, 101, 225) 77.8%);
    border-bottom: 1px solid #e0e0e0;
  }
  
  .logo-name {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px; /* Adjust as needed */
    margin-right: 10px;
  }
  
  .name {
    font-size: 24px;
    color: #333;
    margin: 0;
  }
  
  .search-bar {
    flex: 1;
    margin: 0 20px;
  }
  
  .search-bar input {
    width: 96%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
  }
  
  .icon {
    font-size: 24px;
    color: #e4dfdf;
    margin-left: 15px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .icon:hover {
    color: #007bff;
  }
  .connect{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 6px;
    padding : 0px 5px;
  }
  .name{
    color: white;
  }
  .connect>div{
 
  
    background: linear-gradient(156.8deg, rgb(30, 144, 231) 52.5%, rgb(67, 101, 225) 47.5%);
    border: 1px solid white;
    border-radius: 15px;
   
  
   }

