.card-wrap{
    border: solid 3px;
    color:#d1d8e3;
    background-color: #232a32;
    border-radius: 10%;
    width: 19vw;
    margin-top: 8px;
    display: flex;
   

    
}
.card-wrap:hover{
    cursor: pointer;
    background-color: #2C3333;
    border: 2px solid blueviolet;
}

.gainers{
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left:3rem;
    
    
   
}

.gainers-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;

}

.gainers-top>p{
    display: flex;
}


.gainers-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7px;
    padding-top: 7px;
    background-color: blueviolet;

}

.green{
    color: green;
}

.red{
    color:red;
}
.gainers-body{
    
    text-align: center;

}

.icon2{
    width: 1rem;
    height: 1rem;
}
.sep2{
    display: flex;
    justify-content: space-between;
}