.model{
    
  
    border-color: white;
    display: grid;
    align-items: center;
    justify-content: center;
  
  
    
}



.model-box{
   position: fixed;
   left: 6rem;
   top: 5.5rem;
   z-index:11111;
    height: 50vh;
    width: 40vw;
    background-color: #232a32;
    padding: 2rem;
    border-radius: .5rem;
    border: 2px solid azure;
    
    
}



.model-box-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.model-heading p{
    font-size: 1.2rem;
}

.model-box-wallet p{
    background-color: lightsteelblue;
    padding: 1rem;
    border-radius: .5rem;
    color: #1e1e1e;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid;

}

.model-box-wallet p:hover{
    background-color: azure;
}

.model-box-para{
    padding: 1rem;
    line-height: 1.2;
    border: 1px solid azure;
    border-radius: .5rem;
}