.tokenList{
    
    border-radius: .5rem;
    position: fixed;
    left: 6rem;
    top: 5.5rem;
    z-index:11111;
     height: 70vh;
     width: 30vw;
     background-color: #232a32;
    padding: 1rem;
    border: 1px solid;
}

.token-title{
    width: 100%;
    padding : .2rem 1rem;
    font-weight: 900;
    line-height: 0;
    color: lightsteelblue;
    font-size: .8rem;
    border-radius: .5rem;
}



.tokenlist-box{
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid lightsteelblue;
}

.tokenlist-box-info{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
    align-items: center;
    background-color: #0e0901;
    padding:0.5rem;
}
.tokenlist-box-info p span{
    font-weight: 900;
    color: lightsteelblue;
    margin-right: .5rem;
}

.tokenlist-box-info-symbol{
    background-color:lightsteelblue ;
    padding: .5rem;
    border-radius: .5rem;
    color: #01051a;
    font-weight: 700;
}

.tokenList-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mid{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mid-button{
    padding: 10px 35px;
    border-radius: 6px;
    width: 23vw;
    margin-bottom: 5px;
    background-color:lightsteelblue ;
}

.mid-button:hover{
    cursor:pointer;
    background-color: aliceblue;
}