.sidebar-container{
 
    
}




  .side-menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    transition: 600ms;
   
  }
  

  .side-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: gray;
    text-decoration: none;
    transition: 600ms;
  }
  


  .side-icon{
    height: 4rem;
    width: 2.3rem;
    margin: 0 1.5rem;
  }
  


  .link-text {
    display: none;
  }

  .social-icons{
    
    display: flex;
    flex-direction: column;
    color: #4267B2;
    margin-top: 50px;
    align-self: flex-end;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    
  }

  .social{
    width: 2.3rem;
    height: 2.3rem;

  }
  .separator{
    height: 20vh;
  }