

.cd-wrap{
    border: solid 3px;
    color:#232a32; 
    /*background-color: #d1d8e3;*/
    background-color: lightsteelblue;
    border-radius: 2%;
    margin-bottom: 5px;
    padding-right: 30px;
    
}
.cd-wrap:hover{
    background-color: #d1d8e3;
    cursor: pointer;

}

.news{
    display: flex;
    flex-direction: column;
    border-radius: 4%; 
   
}

.gainers-tp{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 3px 3px;
    color:#4747eb;
}

.newstp{
    color: #232a32;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    width: 80px;
    height: 80px;
    margin: 3px 3px;
   
}

.btm{
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;

}

.gainers-bdy{
    padding-bottom: 4px;
}
