.token{
    position: fixed;
    margin-left:25px;
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: .5rem;
    width : 30vw;
    height: 24rem;
    padding-top: 1px;
    border: 1px solid;
    align-items: center;
}

.token_box_heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.token_box h2{
    font-size: 1.2rem;
    line-height: 0;
}

.token_box_para{
    display: flex;
    align-items: center;
   
}

.token_box_input{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2px;
}

.token_box_input button{
    background-color: lightblue;
    border: 0;
    outline : 0;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-size: 1rem;
    cursor: pointer;
}

.token_box_input input {
    background-color: transparent;
    border: 0;
    outline : 0;
    width : 80%;
    border : 1px solid yellow;
    padding: .5rem 1rem;
    border-radius: .5rem;
    text-align: end;
    cursor: pointer;
}

.token_box_toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gear{
    width: 30px;
    height: 30px;
    margin-top: 3px;
    margin-bottom: 3px;  
    font-weight: bold; 
}

.gear:hover{
    color: blueviolet;
    font-weight: bold;

}